<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script type="text/javascript" src="jquery/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/jquery.jqote2.min.js"></script>
    <script type="text/javascript" src="http://davidbau.com/encode/seedrandom-min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      #exam, #score {
        margin-top: 55px;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
      }
      #score {
        text-align: right;
      }
      .answers li {
        padding: 2px;
      }
      .answers li:hover {
        //background-color: silver;
        padding: 1px;
        border: 1px solid silver;
      }
      .correct {
        background-color: #5F5;
      }
      .incorrect {
        background-color: red;
      }

    </style>
    <script type="text/javascript">
      var question_pool = {};
      var asked = [];
      var state = {};
      score = {};
      score.correct = 0;
      score.total   = 35;

      Math.seedrandom( state.seed );

      function checkAnswer(q){
        //console.log( $(this) );
        var question_num = $(this).data('questionNum');
        var user_answer = $(this)[0].innerText.substr(0,1).toLowerCase();
        var correct_answer = question_pool[question_num].correct.toLowerCase();

        if( state.answers === undefined )
          state.answers = {};
        if( state.answers[question_num] == undefined ){
          state.answers[question_num] = user_answer;
        }

        if( user_answer == correct_answer ){
          $(this).addClass("correct");

          // update score if the question hasn't been answered before
          if( question_pool[question_num].mark === undefined )
            markCorrect( question_pool[question_num] );

        } else {
          markIncorrect( question_pool[question_num] );
          $(this).addClass("incorrect");
        }

        window.history.pushState({},"Ham Technician Exam","?q="+JSON.stringify(state));
        $('#score').html( $('#score_tmpl').jqote(score) );
      }

      /* q = a reference to the element in the question_pool array
       */
      function markCorrect(q){
        q.mark = 'correct';
        score.correct++;
      }

      function markIncorrect(q){
        q.mark = 'incorrect';
      }

      function makeExam(pool){
        $('#exam').empty();
        for( var i=0; i<35; i++){
          var qnum = Math.floor((Math.random()*1000)%pool.length);
          if( asked.indexOf(qnum) < 0 ){ 
            pool[qnum].num--; // TODO match index (qnum) with num
            $('#exam').append($('#question_tmpl').jqote(pool[qnum]));
            asked.push(qnum);
          } else {
            i--;
          }
        }

        $('.answers li').on('click', checkAnswer);
      }

      function recallState(){
        // TODO use 'split' to parse the line; remove this bad hack
        // get the state from the URL
        if( document.location.search.length > 3 ){
          state = JSON.parse(decodeURIComponent(document.location.search).substr(3));
          if( state.seed === undefined ){
            state.seed = (new Date()).getTime();
            window.history.pushState({},"Ham Technician Exam","?q="+JSON.stringify(state));
          }

          Math.seedrandom( state.seed );

          return state;
        }
      }

      function markAnsweredQuestions( pool, answers ){
        for( i in answers ){
          if( i > pool.length ) // ignore bad data
            break;
          pool[i].answer = answers[i];
          if( pool[i].answer == pool[i].correct.toLowerCase() ){
            markCorrect(pool[i]);
          } else {
            markIncorrect(pool[i]);
          }
        }
          
        $('#score').html(""+ $('#score_tmpl').jqote(score) );
      }

      var callback = function(data){
        question_pool = data;

        markAnsweredQuestions( question_pool, state.answers );

        makeExam( question_pool );
      };
    </script>
  </head>
  <body>
    <!-- Templates
    ================================================== -->
    <script type="text/html" id="question_tmpl">
      <div class="question">
        <div class="sample_number"><%= this.sample %></div>
        <div class="query"><%= this.question %></div>
        <% if( this.figure ){ %>
          <div class="figure"><img src="figures/<%= this.figure %>" /></div>
        <% } %>
        <ul class="answers">
        <% for( i in this.answers ){ %>
          <li data-question-num=<%= this.num %> class="<%= this.answers[i].substr(0,1).toLowerCase()==this.answer?this.mark:"" %>"><%= this.answers[i] %></li>
        <% } %>
        </ul>
      </div>
    </script>
    <script type="text/html" id="score_tmpl">
      <%= this.correct %> of <%= this.total %> = 
      <span class="<%= '' %>"><%= Math.floor((this.correct / this.total)*100)+' ' %> %</span>  
    </script>


    <!-- Navbar
      ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="#">HAM Radio Practice Exam</a></li>
        <div class="dropdown pull-right">
          <button class="btn dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
            Choose Exam
            <b class="caret"></b>
          </button>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
            <!-- TODO generate these and urlencode the states -->
            <li role="presentation"><a href="?q={%22examtype%22:%22technician%22}">Technician</a></li>
            <li role="presentation"><a href="?q={%22examtype%22:%22general%22}">General</a></li>
            <!-- TODO extra has different scoring parameters. Put scoring 
                 params in the data file for all tests then add this back. -->
            <!-- <li role="presentation"><a href="?q={%22examtype%22:%22extra%22}">Extra</a></li> -->
          </ul>
        </div>
      </div>
    </div>

    <!-- Exam
      ================================================== -->
    <div id="exam">
    </div>
    <div id="score">
    </div>

    <script>
      recallState();
      if( state.examtype === undefined )
        state.examtype = 'technician';
      $.ajax({url:'data/'+state.examtype+'.json', success: function(e){callback(e);}});
    </script>
  </body>
</html>

