<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script type="text/javascript" src="jquery/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/jquery.jqote2.min.js"></script>
    <script type="text/javascript" src="http://davidbau.com/encode/seedrandom-min.js">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      #exam, #score {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
      }
      #score {
        text-align: right;
      }
      .answers li {
        padding: 2px;
      }
      .answers li:hover {
        //background-color: silver;
        border: 1px solid silver;
      }
      .correct {
        background-color: #5F5;
      }
      .incorrect {
        background-color: red;
      }

    </style>
    <script type="text/javascript">
      var question_pool = {};
      var asked = [];
      var state = {};
      state.seed    = (new Date()).getTime();
      state.answers = {};
      state.score = {};
      state.score.correct = 0;
      state.score.total   = 35;

      Math.seedrandom( state.seed );

      function checkAnswer(q){
        //console.log( $(this) );
        var question_num = $(this).data('questionNum');
        var user_answer = $(this)[0].innerText.substr(0,1).toLowerCase();
        var correct_answer = question_pool[question_num].correct.toLowerCase();
        var answered = false;

        if( state.answers[question_num] == undefined ){
          state.answers[question_num] = user_answer;
          answered = true;
        }

        if( user_answer == correct_answer ){
          $(this).addClass("correct");
          if( answered == false )
            state.score.correct++;
        } else {
          $(this).addClass("incorrect");
        }

        window.history.pushState({},"Ham Technician Exam","?q="+JSON.stringify(state));
        $('#score').html( $('#score_tmpl').jqote(state.score) );
      }

      function makeExam(pool){
        for( var i=0; i<35; i++){
          var qnum = Math.floor((Math.random()*1000)%pool.length);
          if( asked.indexOf(qnum) < 0 ){ 
            pool[qnum].num--; // TODO match index (qnum) with num
            $('#exam').append($('#question_tmpl').jqote(pool[qnum]));
            asked.push(qnum);
          } else {
            i--;
          }
        }

        $('.answers li').on('click', checkAnswer);
      }

      function recallState(){
        // set the state from the URL
        if( document.location.search.length > 3 ){
          state = JSON.parse(decodeURIComponent(document.location.search).substr(3));
          Math.seedrandom( state.seed );
          for( i in state.answers ){
            question_pool[i].answer = state.answers[i];
            if( question_pool[i].answer == question_pool[i].correct.toLowerCase() ){
              question_pool[i].mark = 'correct';
            } else {
              question_pool[i].mark = 'incorrect';
            }
          }
          state.score.correct = state.score.correct || 0;
          state.score.total = state.score.total || 35;
          $('#score').html(""+ $('#score_tmpl').jqote(state.score) );
        }
      }

      var callback = function(data){
        question_pool = data;

        recallState();

        makeExam( question_pool );
      };
    </script>
  </head>
  <body>
    <!-- Templates
    ================================================== -->
    <script type="text/html" id="question_tmpl">
      <div class="question">
        <div class="sample_number"><%= this.sample %></div>
        <div class="query"><%= this.question %></div>
        <ul class="answers">
        <% for( i in this.answers ){ %>
          <li data-question-num=<%= this.num %> class="<%= this.answers[i].substr(0,1).toLowerCase()==this.answer?this.mark:"" %>"><%= this.answers[i] %></li>
        <% } %>
        </ul>
      </div>
    </script>
    <script type="text/html" id="score_tmpl">
      <%= this.correct %> of <%= this.total %> = 
      <span class="<%= '' %>"><%= Math.floor((this.correct / this.total)*100)+' ' %> %</span>  
    </script>


    <!-- Navbar
      ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="#">HAM Radio Practice Exam</a>
        <ul class="nav pull-right">
          <li>
            <div class="btn-group">
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Exam
      ================================================== -->
    <div id="exam">
    </div>
    <div id="score">
    </div>

    <script type="text/javascript" src="data/technician.json"></script>
  </body>
</html>

